* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background: hsl(30, 38%, 92%);
  line-height: 1.7;
  overflow: hidden;
}

.card {
  display: grid;
  margin: 300px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 300px 300px;
  justify-content: center;
  align-items: center;
}

img {
  width: 300px;
  height: 400px;
}
